<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="description"
		content="一个免注册、免下载，免费的、对等加密的、开源的网页端视频通话。" />
	<meta name="keywords"
		content="多人视频通话, 视频聊天, webrtc, 点对点, p2p" />
	<meta name="application-name" content="Talk" />
	<!-- Meta data for link fetching -->
	<meta property="og:url" content="https://tlk.li" />
	<meta property="og:image" content="/og-image.png" />
	<meta property="og:title" content="Talk - 免费的视频通话网站" />
	<meta property="og:description" content="一个免注册、免下载，免费的、对等加密的、开源的网页端视频通话。" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" href="/favicon.svg" />
	<link rel="stylesheet" href="/app.css" />
	<script defer src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script defer src="/socket.io/socket.io.js"></script>
	<script defer src="/vue.global.prod.js"></script>
	<script defer src="app.js"></script>
	<script defer src="webrtc.js"></script>
	<title>Talk - 网页视频通话器</title>
	<!-- ANALYTICS_SCRIPT -->
</head>
<body>
	<section id="blanket"></section>
	<section id="videos"></section>

	<main id="app">
		<div id="appWrap" v-bind:style="'display:block;'">
			<div id="intro" v-if="!callInitiated && !showChat && !showSettings">
				<h3>即将开启视频通话</h3>
				<p>开启前，建议填写您的昵称，方便房间内其他人员识别</p>
				<p>
					<label v-bind:class="(nameError && !name ? 'red' : '')">请输入您的昵称</label>
					<input type="text" v-model="name" v-on:keyup="updateName" placeholder="在这里输入昵称" maxlength="16" />
				</p>
				<br />

				<div class="footer">
					<button v-on:click="initiateCall">开启</button>
				</div>
			</div>

			<div id="callFeedbackWrap" v-if="callEnded">
				<div id="callFeedback">
					<div class="bold">您已退出视频通话，此时您可关闭此窗口了。</div>
					<br />
					<a href="/">点击返回主页</a>

					<div id="feedbackWrap" v-if="cabin">
						<div class="question italic">您觉得本次视频通话质量如何?</div>
						<div class="thankYou bold">感谢您的反馈</div>
						<div id="feedbackButtons">
							<button data-cabin-event="call-quality-nah" v-on:click="onCallFeedback">😟<br />不满意!</button>
							<button data-cabin-event="call-quality-meh" v-on:click="onCallFeedback">😐<br />一般!</button>
							<button data-cabin-event="call-quality-yay" v-on:click="onCallFeedback">😀<br />非常满意!</button>
						</div>
					</div>
				</div>
			</div>

			<div id="chatWrap" v-if="showChat">
				<div id="chats" ref="chatContainer">
					<div class="chat" v-for="(chat, i) in chats" v-bind:key="i">
						<span class="name">{{chat.name}}</span>
						<span class="date light"> &middot; {{formatDate(chat.date)}}</span>
						<div class="message" v-html="linkify(chat.message)"></div>
					</div>
					<div id="noChat" class="light" v-if="!chats.length"><small>无信息</small></div>
				</div>
				<div id="composeBox">
					<div id="placeholder" v-if="typing.length <= 0">在此输入信息...</div>
					<div id="compose" contenteditable="true" v-on:keydown.enter="sendChat" v-on:input="edit($event)"
						v-on:paste="paste($event)"></div>
				</div>
				<small class="light">回车发送</small>
			</div>

			<div id="settings" v-if="showSettings">
				<div id="name" class="label">
					<span>昵称: </span>
					<input type="text" placeholder="输入您的昵称" v-model="name" v-on:keyup="updateNameAndPublish" />
				</div>
				<hr class="separator" />

				<div class="label">摄像头 📹</div>
				<div v-for="(videoDevice, i) in videoDevices" v-bind:key="videoDevice.deviceId">
					<div v-bind:class="'link indent '+(selectedVideoDeviceId === videoDevice.deviceId ? 'active' : '')"
						v-on:click="changeCamera(videoDevice.deviceId)">
						{{videoDevice.label}}
					</div>
				</div>
				<hr class="separator" />

				<div class="label">麦克风 🎙️</div>
				<div v-for="(audioDevice, i) in audioDevices" v-bind:key="audioDevice.deviceId">
					<div v-bind:class="'link indent '+(selectedAudioDeviceId === audioDevice.deviceId ? 'active' : '')"
						v-on:click="changeMicrophone(audioDevice.deviceId)">
						{{audioDevice.label}}
					</div>
				</div>
				<hr class="separator" />

				<div class="link" v-on:click="copyURL">{{copyText || "复制房间链接"}}</div>
				<hr class="separator" />
				<div class="link" v-on:click="toggleSelfVideoMirror">
					镜像 / 取消镜像
					<small class="light">(仅自己可见)</small>
				</div>
			</div>

			<div id="actionsWrap" v-if="callInitiated">
				<div id="actions">
					<button v-bind:class="'icon-mic'+(audioEnabled ? '' : '-off')" v-on:click="audioToggle" title="麦克风" alt="麦克风"></button>
					<button v-bind:class="'icon-video'+(videoEnabled ? '' : '-off')" v-on:click="videoToggle" title="摄像头" alt="摄像头"></button>
					<button v-bind:class="'icon-message-square '+(showChat ? 'active' : '')"
						v-on:click="showChat = !showChat" title="聊天窗口" alt="聊天窗口"></button>
					<button v-if="!isMobileDevice" v-bind:class="'icon-monitor '+(screenShareEnabled ? 'active' : '')"
						v-on:click="screenShareToggle" title="屏幕共享" alt="屏幕共享"></button>
					<button v-bind:class="'icon-exit'" v-on:click="exit" title="结束通话" alt="结束通话"></button>
					<button v-bind:class="'icon-more-horizontal '+(showSettings ? 'active' : '')"
						v-on:click="showSettings = !showSettings" title="更多设置" alt="更多设置"></button>
				</div>
			</div>
		</div>
	</main>
</body>
</html>